<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <title>WeCahtJsSdk Demo</title>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script src="@Url.Content("~/scripts/jquery-1.8.2.min.js")"></script>
    <script>
        wx.config(@Html.Raw(ViewBag.config));
        wx.ready(function () {
            alert("wxjs is ready!");
            $("#btn_scan").click(function () {
                wx.scanQRCode({
                    needResult: 1, // 默认为0，扫描结果由微信处理，1则直接返回扫描结果，
                    scanType: ["qrCode", "barCode"], // 可以指定扫二维码还是一维码，默认二者都有
                    success: function (res) {
                        var result = res.resultStr; // 当needResult 为 1 时，扫码返回的结果
                        $("#content").text(result);
                    }
                });
            });
            wx.onMenuShareQQ({
                title: '牛屎的分享到QQ接口', // 分享标题
                desc: '牛屎就是牛屎，无需解译！', // 分享描述
                link: 'http://www.baidu.com', // 分享链接
                imgUrl: 'http://www.baidu.com/img/baidu_jgylogo3.gif', // 分享图标
                success: function () {
                    alert("分享成功！");
                },
                cancel: function () {
                    alert("取消分享！！");
                }
            });
        });
        wx.error(function (res) {

            alert("接口验证失败，详细信息：\n"+JSON.stringify(res));

        });
    </script>
</head>
<body>
    <input type="button" name="btn_scan" id="btn_scan" value="扫描二维码" />
    <div id="content"></div>
</body>
</html>
